<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context 
         https://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:MyApp.properties"/>
    <bean id="helloWorldBean" class="com.skills.spring.HelloWorld">
        <property name="message" value="Hello Spring without Boot!" />
    </bean>
    
    <bean id="fruitBean" class="com.skills.spring.Fruit"/>
    <bean id="fruitWithName" class="com.skills.spring.Fruit">
    	<constructor-arg index="0" value="apple"></constructor-arg>
    </bean>
    <bean id="vegetableWithName" class="com.skills.spring.Vegetable">
    	<property name="name" value="Radish"/>
    </bean>
    <bean id="vegetableBean" class="com.skills.spring.Vegetable"/>
    <bean id="fruitWithNameListAndMap" class="com.skills.spring.Fruit">
    	<property name="nameList">
    		<list>
    			<value>Apple</value>
    			<value>Banana</value>
    			<value>Orange</value>
    		</list>
    	</property>
    	<property name="nameColorMap">
    		<map>
    			<entry>
    				<key><value>Apple</value></key>
    				<value>Red</value>
    			</entry>
    			<entry>
    				<key><value>Banana</value></key>
    				<value>Yellow</value>
    			</entry>
    			<entry>
    				<key><value>Orange</value></key>
    				<value>Orange</value>
    			</entry>
    		</map>
    	</property>
    </bean>
    <bean id="fruit" class="com.skills.meal.Fruit"/>
    <bean id="vegetable" class="com.skills.meal.Vegetable"/>
    <bean id="meat" class="com.skills.meal.Meat"/>
    <bean id="mealUsingSetterInjection" class="com.skills.meal.Meal">
    	<property name="fruit" ref="fruit"/>
    	<property name="vegetable" ref="vegetable"/>
    	<property name="meat" ref="meat"/>
    </bean>
    <bean id="mealUsingConstructorInjection1" class="com.skills.meal.Meal">
    	<constructor-arg index="0" ref="fruit"/>
    	<constructor-arg index="1" ref="vegetable"/>
    	<constructor-arg index="2" ref="meat"/>
    </bean>
    <bean id="mealUsingConstructorInjection2" class="com.skills.meal.Meal">
    	<constructor-arg name="vegetable" ref="vegetable"/>
    	<constructor-arg name="fruit" ref="fruit"/>
    	<constructor-arg name="meat" ref="meat"/>
    </bean>
    <bean id="vegetableUsingPNameSpace" class="com.skills.spring.Vegetable" p:name="Radish" /> 
    
    <bean id="fruitWithNameBean" class="com.skills.meal.Fruit">
    	<property name="def" value="${fruit-def}"></property>
    </bean>
    <bean id="vegetableWithNameBean" class="com.skills.meal.Vegetable" p:def = "${vegetable-def}"/>
    
    <bean id="mealOuterBean" class="com.skills.meal.Meal">
    	<property name="fruit">
    		<bean name="fruitInnerBean" class="com.skills.meal.Fruit" p:def="${fruit-def}"/>
    	</property>
    	<property name="vegetable">
    		<bean name="vegetableInnerBean" class="com.skills.meal.Vegetable" p:def = "${vegetable-def}"/>
    	</property>
    	<property name="meat">
    		<bean name="meatInnerBean" class="com.skills.meal.Meat"></bean>
    	</property>
    </bean>
    
    <bean name="fruitWithInitAndDestroy" class="com.skills.meal.Fruit" p:def="${fruit-def}" init-method="init" destroy-method="destroy"/>
</beans>
